.container {
    text-align: center;
    background-image: url(../images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 1rem;
    @media (min-width: 62em) {
        width: 1440px;
        height: 60vh;
    }
    .content-container {
        padding: 2rem 0;
        background-image: url(../images/pattern-circles.svg);
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: center;
        height: 60%;
        @include flex(column, center);
        gap: 0.5rem;
        h2 {
            font-size: 1.3rem;
        }
        p {
            margin: 0 2.5rem;
            color: $colorGrayishBlue;
        }
        @media (min-width: 42em) {
            background-size: 20%;
            height: 180px;
            margin-top: 0;
        }
        @media (min-width: 62em) {
            background-size: 10%;
            height: 200px;
        }
    }
}