.toggle-container {
    width: 100%;
    @include flex(row, center);
    gap: 0.5rem;
    .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 22px;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $colorLightGrayishBlueBack;
        transition: 0.4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
    }
    input:checked+.slider {
        background-image: none;
        background-color: $colorSoftCyan;
    }
    input:hover+.slider {
        background-color: $colorSoftCyan;
    }
    input:checked+.slider:before {
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    span {
        font-size: 0.8rem;
        color: $colorGrayishBlue;
    }
    .yearly {
        &::after {
            content: "-25%";
            margin-left: 0.5rem;
            color: $colorLightRed;
            padding: 0.1rem 0.5rem;
            border-radius: 0.5rem;
            background-color: hsl(14, 92%, 95%);
        }
    }
}